html {
  box-sizing: border-box; }
  html body {
    overflow-x: hidden; }
    html body .container-fluid {
      margin: 0;
      padding: 0; }
    html body .row {
      margin: 0; }

#splash {
  height: 100%;
  margin: 0; }
  #splash .row {
    height: 100%;
    margin: 0; }
  #splash .wordmark {
    max-width: 450px;
    margin: auto;
    display: block;
    padding-top: 6rem; }
  #splash .leafloader {
    max-width: 300px;
    margin: auto;
    display: block; }

.top-bar {
  background: linear-gradient(to bottom, #7e8dc0 0%, #3a92a4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: initial;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 10000; }

.tab-bar {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #3a92a4;
  z-index: 999; }
  @media (min-width: 992px) {
    .tab-bar {
      bottom: 0;
      height: calc(100vh - 44px);
      width: 103px;
      z-index: 0; } }

.navbar-brand {
  width: 35px;
  margin: auto;
  opacity: 0.5; }
  @media (min-width: 992px) {
    .navbar-brand {
      width: 65%; } }

.active {
  opacity: 1; }

.logo {
  width: 138px;
  margin: auto; }

#content {
  padding-top: 60px;
  padding-bottom: 62.172px; }
  #content .rightpanel {
    display: none;
    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 0.5px; }
  @media (min-width: 768px) {
    #content {
      max-width: 1440px; }
      #content .screenrow {
        display: flex;
        overflow: hidden;
        height: calc(100vh - 60px);
        position: relative;
        width: 100%; }
        #content .screenrow .leftpanel,
        #content .screenrow .rightpanel {
          overflow: auto;
          height: auto;
          display: block;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: none; }
          #content .screenrow .leftpanel::-webkit-scrollbar,
          #content .screenrow .rightpanel::-webkit-scrollbar {
            display: none; } }
  @media (min-width: 992px) {
    #content {
      padding-bottom: 0;
      padding-left: 103px; } }
  #content .plantselect {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
    #content .plantselect li {
      width: 100%;
      padding: 1rem;
      background-color: white;
      border-right-style: solid;
      border-right-color: #8DC641;
      border-right-width: 12px;
      border-bottom-style: solid;
      border-bottom-color: lightgray;
      border-bottom-width: 0.5px; }
      #content .plantselect li:nth-child(2n) {
        background-color: #F8F8F8;
        border-right-color: #2AA6DA; }
      #content .plantselect li .info {
        display: inline-block;
        width: calc(100% - 85px); }
        #content .plantselect li .info h2 {
          font-size: 1.5rem; }
        #content .plantselect li .info h3 {
          font-size: 1rem;
          font-weight: 300; }
        #content .plantselect li .info .status {
          margin: 0;
          padding: 0;
          width: 33.333%;
          max-width: 120px;
          margin-top: .3rem; }
          #content .plantselect li .info .status img {
            height: 25px;
            margin-right: 8px;
            float: left; }
          #content .plantselect li .info .status p {
            font-size: 0.8rem;
            margin-top: 4px; }
      #content .plantselect li .profile {
        width: 80px;
        display: inline-block;
        padding: 10px; }
        #content .plantselect li .profile .last-updated {
          margin: 0;
          text-align: center;
          font-size: 0.75rem;
          padding-top: 7px; }
  #content .addplant a {
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    display: block;
    color: #696969;
    font-size: .9rem; }
  #content .addplant .plus {
    width: 10px;
    margin: 5px; }
  #content .plantdetail {
    width: 100%;
    margin-left: 0.5px; }

/*# sourceMappingURL=main.css.map */
