$bluecorporate: #1F70A5;
$graycorporate: #414042;
$gnomeblue: #2AA6DA;
$gnomered: #DE4A3A;
$gnomegreen: #8DC641;
$gnomeyellow: #F9ED32;
$gnomeorange: #F7941D;
$gnomelightgray:#F8F8F8;
$gnomedarkgray:#696969;
$gnomebeige: #E7D7AE;
$topGradient: #7e8dc0;
$bottomGradient: #3a92a4;
@mixin gradient() {
    background: linear-gradient(to bottom, $topGradient 0%, $bottomGradient 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    box-sizing: border-box;
    body {
        overflow-x: hidden;
        .container-fluid {
            margin: 0;
            padding: 0;
        }
        .row {
            margin:0;
        }
    }
}

#splash {
    height: 100%;
    margin: 0;
    .row {
        height: 100%;
        margin: 0;
    }
    .wordmark {
        max-width: 450px;
        margin: auto;
        display: block;
        padding-top: 6rem;
    }
    .leafloader {
        max-width: 300px;
        margin: auto;
        display: block;
    }
}


    .top-bar {
        @include gradient();
        background-attachment: initial;
        position: fixed;
        height: 60px;
        width: 100%;
        z-index: 10000;
    }
    .tab-bar {
        bottom: 0;
        position: fixed;
        width: 100%;
        background-color: $bottomGradient;
        z-index:999;
        @media (min-width: 992px) {
            bottom:0;
            height: calc(100vh - 44px);
            width: 103px;
            z-index: 0;
        }
    }


    .navbar-brand {
        width: 35px;
        margin: auto;
        opacity: 0.5;
        @media (min-width: 992px) {
            width: 65%;
        }
    }
    .active {
        opacity: 1;
    }
    .logo {
        width: 138px;
        margin: auto;
    }


#content {
    padding-top: 60px;
    padding-bottom:62.172px;
    .rightpanel{
        display:none;
        border-left-style: solid;
        border-left-color: lightgray;
        border-left-width: 0.5px;
    }
    @media (min-width: 768px) {
        max-width: 1440px;
    .screenrow {
        display: flex;
        overflow: hidden;
        height: calc(100vh - 60px);
        position: relative;
        width: 100%;
        .leftpanel,
        .rightpanel{
            overflow: auto;
            height: auto;
            display:block;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            &::-webkit-scrollbar{
                  display: none;
            }
        }
    }
    }
    @media (min-width: 992px) {
        padding-bottom:0;
        padding-left: 103px;
    }

    
    .plantselect {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        li {
            width: 100%;
            padding: 1rem;
            background-color: white;
            border-right-style: solid;
            border-right-color: $gnomegreen;
            border-right-width: 12px;
            border-bottom-style: solid;
            border-bottom-color: lightgray;
            border-bottom-width: 0.5px;
            &:nth-child(2n) {
                background-color: $gnomelightgray;
                border-right-color: $gnomeblue;
            }
            .info {
                display: inline-block;
                width: calc(100% - 85px);
                h2{
                    font-size:1.5rem;
                }
                h3{
                    font-size:1rem;
                    font-weight: 300;
                }
                .status {
                    margin: 0;
                    padding: 0;
                    width: 33.333%;
                    max-width: 120px;
                    margin-top: .3rem;
                    img {
                        height: 25px;
                        margin-right: 8px;
                        float: left;
                    }
                    p {
                        font-size:0.8rem;
                        margin-top: 4px;
                    }
                }
                
            }
            .profile {
                width: 80px;
                display: inline-block;
                padding: 10px;
                .last-updated {
                    margin: 0;
                    text-align: center;
                    font-size: 0.75rem;
                    padding-top: 7px;
                }
            }
        }
    }
    .addplant {
        a{
            text-align: center;
            text-decoration: none;
            padding: 2rem;
            display: block;
            color: #696969;
            font-size: .9rem;
        }
        .plus {
            width:10px;
            margin:5px;
        }
    }
    .plantdetail {
        width: 100%;
        margin-left:0.5px;
    }
}