@import 'svg';
$bluecorporate: #1F70A5;
$graycorporate: #414042;
$gnomeblue: #2AA6DA;
$gnomered: #DE4A3A;
$gnomegreen: #8DC641;
$gnomeyellow: #F9ED32;
$gnomeorange: #F7941D;
$gnomelightgray: #86BDC0;
$gnomebeige: #E7D7AE;

$topGradient: #7e8dc0;
$bottomGradient: #3a92a4;


@mixin gradient() {
     background: linear-gradient(to bottom,  $topGradient 0%,$bottomGradient 100%);
     background-repeat: no-repeat;
     background-attachment: fixed;
}



html {
    height:100%;
    body {
        @include gradient();
        height:100%;
        .container-fluid {
            margin: 0;
            padding: 0;
        }
        .splash-container{
            height:100%;
        }

    }
}

#splash {
    height: 100%;
    margin:0;
    overflow: hidden;
    .row {
        height: 100%;
        margin:0;
    }
    .wordmark{
        max-width:450px;
        margin:auto;
        display: block;
        padding-top:6rem;
        animation-name: fadeIn;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        animation-delay: 1.75s;
        opacity: 0;
    }
    .leafloader{
        max-width:300px;
        margin:auto;
        display: block;
        position: relative;
        animation-name: load;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;

        top: 500px;
    }
}
@keyframes load{
  0%{
    top: 500px;
    transform: scale(0);
  }
  100%{
    top: 0px;
    transform: scale(1);
  }
}
@keyframes fadeIn{
  0%{
opacity: 0;
  }
  100%{
opacity: 1;
  }
}
