$topGradient: #7e8dc0;
$bottomGradient: #3a92a4;

@mixin gradient() {
    background: linear-gradient(to bottom, $topGradient 0%, $bottomGradient 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
    body {
        @include gradient();
        height: 100%;
        .container-fluid {
            margin: 0;
            padding: 0;
        }
        .splash-container {
            height: 100%;
        }
    }
}