.container-plantdb{
  .plant-list{
    padding-top: 0 !important;
    background-color: #fff;

    form{
      background-color: #E8E9EA;
       display: flex;
      max-width: 80%;
  margin: 1rem auto;
  position: relative;
  padding: 0.1rem 1rem;
  border-radius: 25px;
  input{
    background-color: transparent;
    border: 0px;
    font-size: 0.75rem;
    flex: 1 1 auto;
    outline: 0;
    }
    label{
      font-size: 1rem;
      padding: 0.3rem;
      flex: 0 1 auto;
      position: relative;
      display: inline-block;
      top: 2px;
    }
  }
  h2{
    padding: 1rem;
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
  }
    .plantlist-feed{
      display: flex;
      flex-direction: column;
      .plantlist-single-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
       align-items: center;
       align-content: space-between;
  // border-right: 1px solid #95989A;
  // border-left: 1px solid #95989A;
        margin: 0 !important;
        padding: 1rem !important;
  .plantlist-single-preview{
    flex: 1 1 auto;
  }
        p,h3{
          margin: 0;
          padding: 0;
        }
        h3{
          font-size: 1rem;
          font-weight: 300;
        }
        a{
          color: #000;
          text-decoration: none;
        }
        border-top: 1px solid #95989A;
        &:nth-child(odd){
          background-color: #F8F8F8;
        }
        &:nth-child(even){
          background-color: #FFF;
        }
        &:last-child{
            border-bottom: 1px solid #95989A;
        }
      }
      .arrow{
      color: #C7C7CC;
      }
    }

  }
    .plantlist-details{
      flex: 0 1 auto;
      position: absolute;
      height: calc(100vh-67px);
      // top: 67px;
      left: 0;
      display: none;
      background-color: #fff;
      height: 100%;

    }
}


@media(min-width: 768px){
  .container-plantdb{
  .plant-list{

  }
  .plantlist-details{
    display: inline-block;
    flex: 1 1 auto;
    height: auto;
    top: 0;
      position: relative;
    border-left: 1px solid #000;
  }
}
}
