.hidden {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
a:hover{
  text-decoration: none;
}
.active a{
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}
.slide{
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .fade{
      animation-name: fade;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  @keyframes slide{
    0%{
      opacity: 0;
      top: 200%;
    }
    100%{
      opacity: 1;
      top: 0;
    }
  }
  @keyframes fade{
    0%{
      opacity: 0;

    }
    100%{
      opacity: 1;
    }
  }
$brown: #A07644;
